h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    
    .skillList {
        margin: auto 30px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
                
        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            
            svg {
                max-width: 100px;
                height: 100%;
                opacity: 30%;
            }
        }
}